[Desktop Entry]
Version=1.0
Type=Application
Name=MotionCam FS
GenericName=MotionCam Filesystem
Comment=Mount and browse MotionCam .mcraw video archives
Exec=./motioncam-fs
Icon=assets/app_icon.png
Terminal=false
Categories=Graphics;Photography;Video;
MimeType=application/x-motioncam-archive;

